* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a {
    outline: none;
    color: black;
    &:hover {
        color: black;
        text-decoration: none;
    }
}
ul, li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.header {
    width: 100%;
    padding: 10px 0;
    position: absolute;
    z-index: 999;
    ul {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        a {
            font-size: 14px;
            font-weight: 700;
            &:hover {
                color: red;
            }
        }
        li:not(:first-child):not(:last-child) {
            margin: 0 17px;
        }
        li:first-child {
            margin-right: 17px;
        }
        li:last-child {
            margin-left: 17px;
        }
    }
}
.section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("/img/paralax/layer_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .paralax {
        position: absolute;
        width: 100%;
        height: 100%;
        &-layer2 {
            background: url("/img/paralax/layer_2.png") 43% 30% no-repeat;
            background-size: 1100px;
        }
        &-layer3 {
            background: url("/img/paralax/layer_3.png") 47% 33% no-repeat;
            background-size: 800px;
        }
    }
    .div-main {
        position: absolute;
        text-align: center;
        top: 230px;
        &-span {
            display: inline-block;
            background-color: white;
            color: black;
            padding: 10px 20px;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 25px;
            margin-bottom: 20px;
        }
        &-h1 {
            text-transform: uppercase;
            font-weight: 900;
            color: white;
            font-size: 57px;
            text-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .5);
            margin-bottom: 25px;
        }
        &-city {
            display: inline-block;
            color: white;
            background-color: #008aff;
            padding: 0 20px 5px 20px;
            font-size: 24px;
            font-weight: 600;
            text-shadow: 0 0 3px rgba($color: #000000, $alpha: .5);
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
            box-shadow: 3px 3px rgba($color: #000000, $alpha: .3);
            margin-bottom: 90px;
        }
        &-span2{
            display: block;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 50px;
        }
        &-btn{
            outline: none;
            color: white;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            background-color: #d60505;
            border: none;
            border-radius: 10px;
            padding: 15px 40px;
            letter-spacing: 2px;
            outline: hidden;
            &:hover {
                box-shadow: 0 5px 10px rgba($color: #c42828, $alpha: .5);
                background: linear-gradient(45deg, #d60505, 70%, #b10505);
            }
        }
    }
}
.section {
    padding: 120px 0 95px 0;
    .div-h1 {
        text-align: center;
        margin-bottom: 100px;
    }
    h1 {
        display: inline;
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 900;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            display: block;
            width: calc(100% + 10px);
            height: 18px;
            bottom: 0;
            right: -5px;
            z-index: -1;
        }
    }
}
.section2 {
    h1 {
        &:before {
            background-color: #ffd52b;
        }
    }
    .step {
        text-align: center;
        &-circle {
            position: relative;
            width: 130px;
            height: 130px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0 0 0 6px #e8e8e8 inset;
            margin-bottom: 40px;
            &-number {
                position: absolute;
                font-size: 26px;
                font-weight: 700;
            }
            &-progress {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                &-fix {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 6px solid #e8e8e8;
                    border-radius: 50%;
                }
            }
            &-progress1 {
                border: 6px solid #43a8f6;
                border-left-color: transparent;
                border-bottom-color: transparent;
                &-fix {
                    border-left-color: transparent;
                    border-right-color: transparent;
                    border-top-color: transparent;
                }
            }
            &-progress2 {
                border: 6px solid #32b228;
                border-left-color: transparent;
                &-fix {
                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                }
            }
            &-progress3 {
                border: 6px solid #d60505;
            }
        }
        &-title {
            display: inline-block;
            font-size: 21px;
            font-weight: 700;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
        &-div-text {
            padding: 0 25px;
        }
        &-text1 {
            margin-bottom: 25px;
        }
        &-text2 {
            margin-bottom: 20px;
        }
        &-link {
            font-weight: 700;
            text-decoration: underline;
            letter-spacing: 1px;
        }
    }
}
.section3 {
    background: url("/img/bg-img-section3.png") no-repeat;
    background-size: cover;
    text-align: center;
    h1 {
        z-index: 1;
        color: white;
        &:before {
            background-color: #32b228;
        }
    }
    // ul {
    //     list-style: none;
    //     margin: 0;
    //     padding: 0;
    //     display: block;
    //     li {
    //         margin: 0;
    //         padding: 0;
    //         display: inline-block;
    //         height: 100%;
    //         .div-grid {
    //             &__img {
    //                 height: 60px;
    //                 margin-bottom: 30px;
    //                 img {
    //                     height: 100%;
    //                 }
    //             }
    //             &__text {
    //                 color: white;
    //                 font-size: 18px;
    //                 font-weight: 500;
    //             }
    //         }
    //     }
    // }
    .div-grid {
        text-align: center;
        margin: 0 auto;
        &__img {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }
        &__text {
            margin-bottom: 75px;
        }
        &__last {
            margin-bottom: 90px;
        }
        img {
            box-sizing: border-box;
            display: block;
            height: 50px;
            padding: 0 50px;
        }
        span {
            color: white;
            font-size: 18px;
            font-weight: 500;
        }
    }
    .span-title {
        display: block;
        color: white;
        font-size: 31px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 55px;
    }
    .div-main-btn{
        outline: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: #d60505;
        border: none;
        border-radius: 10px;
        padding: 15px 40px;
        letter-spacing: 2px;
        outline: hidden;
        &:hover {
            box-shadow: 0 5px 10px rgba($color: #c42828, $alpha: .5);
            background: linear-gradient(45deg, #d60505, 70%, #b10505);
        }
    }
}
.section4 {
    text-align: center;
    padding-bottom: 195px;
    .step {
        &-circle {
            img {
                width: 50px;
            }
        }
    }
    .span-title {
        display: block;
        font-size: 31px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 55px;
        margin-top: 80px;
    }
    &-btn{
        outline: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: #d60505;
        border: none;
        border-radius: 10px;
        padding: 15px 40px;
        letter-spacing: 2px;
        outline: hidden;
        &:hover {
            box-shadow: 0 5px 10px rgba($color: #c42828, $alpha: .5);
            background: linear-gradient(45deg, #d60505, 70%, #b10505);
        }
    }
}
.section5 {
    background-image: url("/img/section5/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 80px 0 120px;
    position: relative;
    text-align: center;
    .row-point1 {
        margin-bottom: 120px;
    }
    .row-point2 {
        margin-bottom: 145px;
    }
    .img1 {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("/img/section5/1.png");
        background-size: 2070px;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
    }
    .div-img2{
        width: 100%;
        height: 490px;
        position: absolute;
        top: -40px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        .img2 {
            height: 100%;
            transform: translate(-9%);
        }
    }
    .div-img3 {
        position: absolute;
        height: 225px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        top: 13px;
        .img3 {
            height: 100%;
        }   
    }
    .div-img4 {
        position: absolute;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        top: -120px;
        .img4 {
            width: 1920px;
        }   
    }
    &-div-main {
        text-align: center;
        width: 100%;
        &-title {
            color: white;
            font-size: 18px;
            display: block;
            margin-bottom: 23px;
            position: relative;
        }
        &-city {
            display: inline-block;
            color: white;
            background-color: #008aff;
            padding: 10px 20px 15px 20px;
            font-size: 24px;
            font-weight: 600;
            text-shadow: 0 0 3px rgba($color: #000000, $alpha: .5);
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
            box-shadow: 3px 3px rgba($color: #000000, $alpha: .3);
            margin-bottom: 20px;
        }
        &-h1 {
            position: relative;
            color: white;
            font-size: 60px;
            font-weight: 800;
            text-shadow: 0 0 3px rgba($color: #000000, $alpha: .5);
            margin-bottom: 310px;
        }
    }
    .div-for {
        &-point1 {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &-img {
                height: 90px;
            }
        }
        &-text1 {
            text-align: start;
            padding-left: 10px;
            &-event {
                display: block;
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 30px;
            }
            &-info {
                margin: 0;
            }
        }
        &-point2 {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            padding-left: 5px;
            &-img {
                height: 90px;
            }
        }
        &-text2 {
            text-align: end;
            padding-right: 10px;
            &-event {
                display: block;
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 30px;
            }
            &-info {
                margin: 0;
            }
        }
        &-point3 {
            width: 100%;
            height: 100%;
            margin-bottom: 60px;
            &-img {
                height: 90px;
            }
        }
        &-text3 {
            text-align: center;
            padding-right: 10px;
            &-event {
                display: block;
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 30px;
            }
            &-info {
                margin: 0;
            }
        }
    }
    &-road {
        position: relative;
        width: 100%;
        &-point {
            position: absolute;
            z-index: -1;
            width: 100%;
            left: 0;
            display: flex;
            justify-content: center;
            top: 120px;
            &-img {
                height: 570px;
                top: 100px;
                transform: translate(22%);
            }
        }
    }
}
.section6 {
    background: url("/img/bg-img-section6.png") no-repeat;
    background-size: cover;
    text-align: center;
    .div-h1 {
        margin-bottom: 60px;
        h1 {
            z-index: 1;
            color: black;
            &:before {
                background-color: #fff;
            }
        }
    }
    &-snap1 {
        font-size: 17px;
        margin-bottom: 90px;
        display: inline-block;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-bottom: 50px;
        li {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            padding: 0;
            margin: 0 10px;
            img {
                height: 70px;
                display: block;
                margin-bottom: 28px;
            }
            .name {
                font-weight: 700;
                font-size: 17px;
            }
        }
    }
    &-span2 {
        font-size: 24px;
        font-weight: 700;
    }
}
.section7 {
    text-align: center;
    .div-h1 {
        margin-bottom: 60px;
        h1 {
            z-index: 1;
            color: black;
            &:before {
                background-color: #ffd52a;
            }
        }
    }
    &-snap1 {
        font-size: 17px;
        margin-bottom: 90px;
        display: inline-block;
    }
    table {
        tr {
            .title {
                font-size: 18px;
                font-weight: 800;
            }
            .col1 {
                font-size: 14px;
                font-weight: 400;
                text-align: start;
            }
            th:last-child {
                border-left: 5px solid #e8e8e8;
                border-right: 5px solid #e8e8e8;
            }
        }
        tr:first-child {
            th {
                padding-top: 28px;
            }
            th:last-child {
                border-top: 5px solid #e8e8e8;
            }
        }
        tr:last-child {
            th {
                padding-bottom: 28px;
            }
            th:last-child {
                border-bottom: 5px solid #e8e8e8;
            }
        }
        tr:not(:last-child) {
            th {
                padding-bottom: 10px;
            }
        }
        tr:not(:first-child) {
            th {
                padding-top: 10px;
            }
        }
        th:not(:first-child) {
            padding: 0 30px;
            min-width: 190px;
        }
        th:first-child {
            padding-right: 20px;
        }
        .img-ok {
            height: 25px;
        }
        .img-not {
            height: 7px;
        }
        .link {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            &:after {
                content: "";
                transition: ease .2s;
                position: absolute;
                height: 2px;
                background-color: #e95252;
                width: 100%;
                bottom: -5px;
                right: 0;
                transform: scaleX(0);
            }
            &:hover {
                color: #e95252;
                &:after {
                    content: "";
                    left: 0;
                    transform: scaleX(1);
                }
            }
        }
    }
}
.section8 {
    background: url("/img/bg-img-section8.png") no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    .div-h1 {
        margin-bottom: 110px;
        h1 {
            z-index: 1;
            color: white;
            &:before {
                background-color: #ffd52a;
            }
        }
    }
    .container {
        padding: 0 70px;
        &-main {
            width: 100%;
            background-color: #f6f8fa;
            box-shadow: 0 5px 20px rgba($color: #000000, $alpha: .3);
            &-list {
                &-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 30px;
                    &-text {
                        font-size: 20px;
                        font-weight: 700;
                        &__answer {
                            font-weight: 18px;
                            font-weight: 400;
                        }
                    }
                    &-btn {
                        border: none;
                        background: none;
                        outline: none;
                        img {
                            width: 24px;
                        }
                    }
                    &__answer {
                        text-align: start;
                        background-color: #e2ecf5;
                    }
                }
                li:nth-child(3) {
                    border-top: 2px solid #e2ecf5;
                    border-bottom: 2px solid #e2ecf5;
                }
            }
        }
    }
}
.section9 {
    text-align: center;
    .div-h1 {
        margin-bottom: 100px;
        h1 {
            z-index: 1;
            color: black;
            &:before {
                background-color: #ffcc0a;
            }
        }
    }
    &-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
        &-img {
            height: 80px;
        }
    }
    &-span {
        font-size: 18px;
        letter-spacing: 1px;
        display: block;
        &__1, &__2 {
            margin-bottom: 35px;
        }
        &__3 {
            margin-bottom: 115px;
        }
    }
    &-div-main-for-form {
        width: 100%;
        position: relative;
        &__bg {
            position: absolute;
            width: 100%;
            left: 0;
            top: -725px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            img {
                height: 1400px;
                transform: translate(3%);
            }
        }
        &__main {
            position: absolute;
            text-align: center;
            width: 100%;
            h2 {
                font-size: 30px;
                font-weight: 800;
                letter-spacing: 1px;
                margin-bottom: 40px;
            }
            span {
                display: inline-block;
                margin-bottom: 60px;
            }
            &-form {
                text-align: center;
                margin: 0 50px;
                input {
                    padding: 10px 15px;
                    outline: none;
                    border: 2px solid #dddddd;
                    width: 100%;
                }
                &__1 {
                    display: flex;
                    justify-content: center;
                    input {
                        display: inline-block;
                        margin-bottom: 30px;
                    }
                    input:nth-child(2) {
                        margin: 0 50px;
                        margin-bottom: 30px;
                    }
                }
                &__2 {
                    width: 100%;
                    text-align: center;
                    input {
                        width: 100%;
                        margin-bottom: 30px;
                    }
                }
                &__3 {
                    textarea {
                        width: 100%;
                        resize: none;
                        margin-bottom: 45px;
                        padding: 10px 15px;
                        outline: none;
                        border: 2px solid #dddddd;
                    }
                }
            }
        }
        &-btn{
            outline: none;
            color: white;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            background-color: #d60505;
            border: none;
            border-radius: 10px;
            padding: 15px 40px;
            letter-spacing: 2px;
            outline: hidden;
            margin-bottom: 100px;
            &:hover {
                box-shadow: 0 5px 10px rgba($color: #c42828, $alpha: .5);
                background: linear-gradient(45deg, #d60505, 70%, #b10505);
            }
        }
    }
    .step {
        &-circle {
            width: 80px;
            height: 80px;
            box-shadow: 0 0 0 4px #e8e8e8 inset;
            margin-bottom: 30px;
            img {
                width: 27px;
            }
        }
        &-title {
            font-size: 16px;
            margin-bottom: 50px;
            &__phone {
                font-weight: 700;
            }
            &__point, &__email {
                font-weight: 400;
            }
            &__email {
                text-decoration: underline;
            }
        }
    }
 }
 .footer {
     background-color: #ffd52a;
     padding: 35px 0 15px;
     text-align: center;
     span {
         display: block;
         margin: 0;
     }
     & span.footer-phone {
         font-size: 16px;
         font-weight: 700;
         margin-bottom: 20px;
     }
     & span.footer-info {
        font-size: 14px;
    }
     &-logo {
        margin-bottom: 30px;
     }
 }